<div style="width: 100%; overflow: hidden;">

    <div style="width: 600px; float: left;">
        <label>Show me:</label>
            <a ng-click="switchColumnDefs()">Switch Options</a>
        <div class="gridStyle" ng-grid="gridA" style="width: 600px; height: 400px">
        </div>
    </div>

    <div class="vertical-line" style="left: 610px; height: 400px;">&nbsp;</div>

    <div style="margin-left: 620px;">
        <div class="gridStyle" ng-grid="gridB" style="height: 400px">
        </div>
    </div>

</div>

<div style="width: 100%; overflow: hidden;">
    <div class="horizontal-line">&nbsp;</div>
</div>