<div class="container-fluid">
<!--    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="gridStyle" ng-grid="gridA" style="height: 400px">
                <div class="ngTopPanel">
                    <span class="ngHeaderContainer" style="margin-left: 10px; margin-right: 10px; line-height:25px; vertical-align: top">
                        {{ titleA }}({{pagingOptionsA.numRecords}})
                    </span>
                    <span style="line-height:25px; min-width: 100px;" class="ngPagerControl">
                        <button class="ngPagerButton" ng-click="pageToFirst()" ng-disabled="cantPageBackward()" title="First Page"><i class="fa fa-angle-double-left fa-lg" style="vertical-align: top"></i></button>
                        <button class="ngPagerButton" ng-click="pageBackward()" ng-disabled="cantPageBackward()" title="Previous Page"><i class="fa fa-angle-left fa-lg" style="vertical-align: top"></i></button>
                        <input class="ngPagerCurrent" min="1" max="{{pagingOptionsA.numPages}}" type="number" style="width:30px; height: 24px; margin-top: 1px; padding: 0 4px;" ng-model="pagingOptionsA.currentPage"/><span style="vertical-align: super"> of {{pagingOptionsA.numPages}}</span>
                        <button class="ngPagerButton" ng-click="pageForward()" ng-disabled="cantPageForward()" title="Next Page"><i class="fa fa-angle-right fa-lg" style="vertical-align: top"></i></button>
                        <button class="ngPagerButton" ng-click="pageToLast()" ng-disabled="cantPageToLast()" title="Last Page"><i class="fa fa-angle-double-right fa-lg" style="vertical-align: top"></i></button>
                    </span>
                    <span style="margin-left: 10px; margin-right: 10px; line-height:25px;">
                        <button class="ngPagerButton" ng-click="gridFilter()" title="Filter"><i class="fa fa-filter fa-lg" style="vertical-align: top"></i></button>
                    </span>
                    <span style="line-height:25px;">
                        <button class="ngPagerButton" ng-click="gridRefresh()" title="Refresh"><i class="fa fa-refresh fa-lg" style="vertical-align: top"></i></button>
                    </span>
                    <span style="margin-left: 10px; margin-right: 10px; line-height:25px; float: right">
                        <button class="ngPagerButton" ng-click="gridSettings()" title="Grid Settings"><i class="fa fa-cogs fa-lg" style="vertical-align: top"></i></button>
                        <button class="ngPagerButton" ng-click="gridDownloadData()" title="Download Data"><i class="fa fa-download fa-lg" style="vertical-align: top"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="gridStyle" ng-grid="gridB" style="height: 400px">
            </div>
        </div>

    </div>-->

    <txi-grid-test>
</txi-grid-test>
</div>